language: php

php:
    - 5.5
    - 5.6

before_script:
    - composer self-update || true
    - composer install --dev --prefer-source
    - mkdir -p web/code-coverage data
    - wget https://scrutinizer-ci.com/ocular.phar

after_script:
    - php ocular.phar code-coverage:upload --format=php-clover data/coverage.clover

script:
    - bin/atoum

notifications:
  email:
    recipients:
      - cedric@dugat.me
    on_success: change
    on_failure: change
